// import globals
@import '~scss-globals';

.view-index-documentation-framework{
    &__nav{
        margin-bottom: rem(24);
        
        &__item{
            margin-right: rem(6);
            margin-bottom: rem(6);
        }
    }
}