// import globals
@import '~scss-globals';

.site-footer{
    margin-top: 2.4rem;
    box-shadow: 0 -3px 3px -3px rgba( 0, 0, 0, .2 );

    // inner content
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $width-max-content;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        margin: 0 auto;
        
        &__left{
            flex: 0 0 40%;
            padding: 0.4rem 0px;

            &__contact{
                font-size: 1.1rem;
                opacity: 0.6;
                margin-top: 0.6rem;
                text-transform: uppercase;
            }
        }
    
        &__right{
            flex: 1;
            font-size: 1.2rem;
            color: #999;
            text-align: justify;
            padding: 0.4rem 1.2rem;
            margin-left: 2.4rem;
            border-left: 3px solid $color-primary;
        }
    }

    // menu
    &__menu{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style-type: none;

        &__item{
            border-bottom: 1.5px solid transparent;
            padding: 0 0.5rem 0 0;
            transition: all 0.3s;

            &__link{
                display: block;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                opacity: 0.75;

                &:hover{
                    opacity: 1;
                    color: $color-primary;
                }
            }

            &:not( :last-child ){
                margin-right: 3.6rem;
            }
        }
    }
}