@import '../layout/width';

// children
@import './index-page-view/home-view';
@import './index-page-view/documentation-view';

// avizva nanobar for loading animation
@keyframes avz-nanobar-loading{
    from{
        background-position: 0% 100%;
    }

    to{
        background-position: 100% 100%;
    }
}

.view-index{
    margin-top: 6rem;
    min-height: 100vh;

    &__content{
        max-width: $width-max-content;
        margin: 2.5rem auto;
    }
}