.view-not-found{
    padding-top: 10rem;
    padding-bottom: 10rem;

    &__container{
        display: flex;
        justify-content: space-between;

        &__left{
            flex: 0 0 50%;
            &__title{
                font-size: 12rem;
                font-weight: 100;
                margin-bottom: 1rem;
            }
        
            &__description{
                font-size: 2.5rem;
                font-weight: 300;
                color: #666;
            }

            &__buttons{
                display: flex;
                margin-top: 3rem;

                &__button{
                    margin-right: 1rem;
                }
            }
        }

        &__right{
            flex: 1;
            $size: 75px;
            $border: $size/15;
            
            @keyframes blackhole {
                to {
                    transform: translateY(-100vh);
                }
            }

            .space {
                width: $size;
                height: 300px;
                border-top-left-radius: $size/2;
                border-top-right-radius: $size/2;
                overflow: hidden;
                position: relative;
                pointer-events: none;
                margin: 100px auto 0;
            }

            .blackhole {
                border: $border solid $color-secondary;
                height: $size;
                width: $size;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                
                &:after {
                    content: '';
                    height: calc(100% + #{$border*2});
                    width: calc(100% + #{$border*2});
                    border: $border solid $color-secondary;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -$border;
                    left: -$border;
                    z-index: 5;
                    transform: rotate(45deg);
                    box-sizing: border-box;
                }
            }

            .ship {
                height: $size*2;
                width: $size - $border*4;
                margin-left: $border*2;
                background: url("/assets/images/space-ship.svg") center/contain no-repeat;
                animation: blackhole 4s infinite ease-in;
                position: absolute;
                bottom: -$size*2;
            }
        }
    }
}