.block{
    &__title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__content{
        font-weight: 300;
        font-size: 0.5rem;
        color: #333;
        max-width: 800px;
        margin: 0 auto;
    }
}