@import '~scss-globals';

// button style mixin based on font size
.avz-button {
    $self: &;

    // default style
    display: inline-block;
    text-transform: uppercase;
    color: $color-primary;
    border: 1px solid $color-primary;
    transition: box-shadow 0.1s;
    white-space: nowrap;
    outline: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    font-weight: 400;
    font-size: rem(15.6);
    line-height: rem(43);
    padding: 0 rem(34);
    border-radius: rem(21);
    letter-spacing: rem(2);

    // shadow
    &:hover{
        box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 8px 14px rgba(0,0,0,0.08);
    }

    // fill
    &--fill {
        color: #fff !important;
        background-color: $color-primary !important;
        border-color: $color-primary !important;

        &#{ $self }--secondary{
            background-color: $color-secondary !important;
            border-color: $color-secondary !important;
        }
    }

    // secondary
    &--secondary {
        color: $color-secondary;
        border-color: $color-secondary;
    }

    // small mini
    &--size-mini {
        font-weight: 700;
        font-size: rem(9);
        line-height: rem(22);
        padding: 0 rem(10);
        border-radius: rem(11);
        letter-spacing: 0.5px;
    }

    // small size
    &--size-small {
        font-weight: 600;
        font-size: rem(12);
        line-height: rem(28);
        padding: 0 rem(24);
        border-radius: rem(14);
        letter-spacing: 1px;
    }

    // medium size
    &--size-medium {
        font-weight: 500;
        font-size: rem(15);
        line-height: rem(36);
        padding: 0 rem(28);
        border-radius: rem(18);
        letter-spacing: 1.5px;
    }

    // with icon
    &--icon{
        >i{
            display: inline-block;
            position: absolute;
            font-size: 1.6em;
            left: 0.5em;
            top: 50%;
            transform: translateY(-50%);
        }

        &#{ $self }--size-mini{
            padding-left: rem(30) !important;
            padding-right: rem(12) !important;
        }

        &#{ $self }--size-small{
            padding-left: rem(36) !important;
            padding-right: rem(19) !important;
        }

        &#{ $self }--size-medium{
            padding-left: rem(43) !important;
            padding-right: rem(24) !important;
        }
    }
}