// import globals
@import "~scss-globals";

.view-not-found {
    padding-top: rem(100);
    padding-bottom: rem(100);

    &__container {
        display: flex;
        justify-content: space-between;

        &__left {
            flex: 0 0 50%;

            &__title {
                font-size: rem(120);
                font-weight: 100;
                margin-bottom: rem(10);
            }

            &__description {
                font-size: rem(25);
                font-weight: 300;
                color: #666;
            }

            &__buttons {
                display: flex;
                margin-top: rem(30);

                &__button {
                    margin-right: rem(10);
                }
            }
        }

        &__right {
            flex: 1;

            $size: 75px;
            $border: $size / 15;

            @keyframes blackhole {
                to {
                    transform: translateY(-100vh);
                }
            }

            .space {
                width: $size;
                height: 300px;
                border-top-left-radius: $size / 2;
                border-top-right-radius: $size / 2;
                overflow: hidden;
                position: relative;
                pointer-events: none;
                margin: 100px auto 0;
            }

            .blackhole {
                border: $border solid $color-secondary;
                height: $size;
                width: $size;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;

                &:after {
                    content: '';
                    height: calc(100% + #{$border * 2});
                    width: calc(100% + #{$border * 2});
                    border: $border solid $color-secondary;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -$border;
                    left: -$border;
                    z-index: 5;
                    transform: rotate(45deg);
                    box-sizing: border-box;
                }
            }

            .ship {
                height: $size * 2;
                width: $size - $border * 4;
                margin-left: $border * 2;
                background: url("/assets/images/space-ship.svg") (center / contain) no-repeat;
                animation: blackhole 4s infinite ease-in;
                position: absolute;
                bottom: -$size * 2;
            }
        }
    }

    &__redux {
        &__title {
            margin-bottom: rem( 20 );
            font-size: rem( 24 );
            font-family: $font-primary;
        }

        &__chat-window {
            @include drop-shadow();
            max-width: 800px;
            height: 300px;
            overflow: hidden;
            border: 1px solid #eee;

            display: flex;
            flex-direction: column;

            &__chats {
                flex: 1 1 auto;
                overflow-x: hidden;
                overflow-y: auto;
                scroll-behavior: smooth;

                &__item {
                    @include ellipsis;

                    font-size: rem(12);
                    line-height: rem(30);
                    padding: 0 rem(20);
                    border-bottom: 1px solid #eee;

                    &:nth-child(even) {
                        background-color: #f5f5f5;
                    }
                }
            }

            &__input {
                flex: 0 0 auto;
                border-top: 1px solid #eee;
                height: rem( 50 );

                &__control {
                    background-color: transparent;
                    line-height: rem( 40 );
                    font-size: rem( 14 );
                    padding: rem( 5 ) rem( 20 );
                    border: none;
                    display: block;
                    width: 100%;
                    outline: none;
                }
            }
        }
    }
}
