@font-face{
    font-family:'DINPro';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/dinpro/dinpro-medium.otf')
}
@font-face{
    font-family:'DINPro';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/dinpro/dinpro-bold.otf')
}