// import globals
@import '~scss-globals';

// avizva nanobar for loading animation
@keyframes avz-nanobar-loading{
    from{
        background-position: 0% 100%;
    }

    to{
        background-position: 100% 100%;
    }
}

.view-index{
    margin-top: 6rem;

    &__content{
        max-width: $width-max-content;
        min-height: $height-min-content;
        margin: 2.5rem auto;
    }
}